@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #0d1321;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Azeret Mono";
  box-sizing: border-box;
}

.section-title {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 24px;
  color: var(--primary-color);
  text-align: center;
}

.section-subtitle {
  color: var(--primary-color);
  opacity: 0.7;
  margin-bottom: 48px;
  text-align: center;
}

.card-title {
  font-size: 24px;
  font-weight: 600;
  color: var(--primary-color);
}

.card-subtitle {
  color: var(--primary-color);
  opacity: 0.7;
  margin-bottom: 28px;
}

/* Banner Styles */
header {
  background: url("../assets/Hero-bg.png") no-repeat center;
  background-size: cover;
  margin-bottom: 80px;
}

header #banner {
  margin: 0 auto;
  text-align: center;
  max-width: 1000px;
  padding: 32px 0;
}

header #banner h1 {
  font-size: 48px;
  margin-top: 32px;
}

header #banner p {
  margin: 32px 0 24px 0;
}

header .header-btn {
  display: inline-block;
  text-decoration: none;
  background-color: var(--primary-color);
  color: #fff;
  padding: 20px 22px;
  border-radius: 10px;
}

header .header-btn:hover {
  background-color: #3d3d3d;
}

/* main */
main {
  max-width: 1140px;
  margin: 0 auto;
}

/* Dev Info Section */
#dev-info {
  padding: 80px 100px;
  background-color: rgb(13, 19, 33, 0.02);
  border-radius: 10px;
  margin-bottom: 80px;
}

#dev-info .card {
  display: flex;
  background-color: #fff;
  gap: 32px;
  padding: 48px;
  margin-bottom: 32px;
  border-radius: 10px;
}

#dev-info .card-info {
  margin-right: 100px;
}

#dev-info .card-info h4 {
  opacity: 0.7;
  margin-bottom: 16px;
  line-height: 36px;
}

#dev-info .card-info button {
  border: 1px solid var(--primary-color);
  padding: 12px 20px;
  background-color: #fcfcfd;
  cursor: pointer;
}

#dev-info .card-info button:hover {
  background-color: #f0f0f0;
}

/* Inspiration Styles */
#inspiration iframe {
  display: block;
  border: 1px solid var(--primary-color);
  padding: 32px;
  border-radius: 16px;
  margin-bottom: 152px;
}

.inspiration-title {
  max-width: 852px;
}

.inspiration-title p {
  margin-bottom: 48px;
}

/* Target Styles */
#target {
  margin-bottom: 112px;
}

#target .card-container {
  display: flex;
  gap: 24px;
}

#target .card {
  padding: 40px;
  border-radius: 10px;
}

#target .card img {
  width: 56px;
  margin-bottom: 24px;
}

#target .card h4 {
  margin-bottom: 8px;
}

#target .card a {
  margin-top: 24px;
  color: var(--primary-color);
  font-weight: bold;
}

#target .card:first-child {
  background-color: #fff6f4;
}

#target .card:nth-child(2) {
  background-color: #f2f6fe;
}

#target .card:nth-child(3) {
  background-color: #fffdf2;
}

/* Support Styling */
#support {
  margin-bottom: 50px;
  background: linear-gradient(
      180deg,
      rgb(0, 0, 0, 0.5) 100%,
      rgb(0, 0, 0.5) 100%
    ),
    url("../assets/handshake.jpg") no-repeat center;
  background-size: cover;
  height: 312px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}

#support h1,
#support p {
  color: white;
}

#support p {
  margin: 16px 0 24px 0;
}

#support .support-input,
#support .support-btn {
  padding: 20px;
  border: none;
  border-radius: 10px;
}

#support .support-input {
  width: 548px;
  margin-right: 10px;
}

#support .support-btn {
  color: var(--primary-color);
  font-weight: 600;
}

/* Footer */
footer {
  background-color: #f8f8f8;
}

.footer-content {
  max-width: 1140px;
  margin: 0 auto;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-content img {
  width: 36px;
  margin-right: 24px;
}
